@charset "UTF-8";
/* CSS Document */

header{
	width: 100%;
	height: 130px;
	background-color:black;
	
	
}
footer{
	width: 100%;
	height: 300px;
	background-color:black;
	padding-top:40px;
}
.container{
	
	display: flex; flex-wrap: wrap;
}

.text-do{
	
	color:#EC1418;
}

.logo{
	padding-top: 20px;width:100px;display:flex; font-size: 14px;
	position: relative; 
	
	
}
.pubg{
	padding :10px 10px; font-size:18px;
	position:absolute;left: 12%;top:1%; 
}
.pubg ul{
	list-style: none;
	text-decoration:none;
	color:yellow;
}
.pubg ul li{
	color:#FAF5F5;
	padding-top:40px; 
	
}
.text-xam{
	color:#272626;
}
.logo ul li{
	
	color:#F5F1F1;
	list-style: none
		
}
.menu{
	padding-top:50px;
}
.menu ul{
	margin :0; list-style: none; display: flex
}
.menu ul li a{
	padding:20px 20px; text-decoration:none; font-size: 18px;text-transform: uppercase; border-radius:15px; color:white;
}
.menu ul li a:hover{
	background-color:red;color:white;
}

.banner img-100{
	
	position: absolute;
	width:100%;
	
}

.logo-18{
	position: absolute;width:1%; left: 15%;top:15%; 
	
}
.logo-2{
	position: absolute;width:1%; left: 34%;top:74%; 
}
.tab-3{
	position: absolute;width:1%; left: 25%;top:100%; 
	display:flex;
	
}
.tab-3 a img{
	padding:10px 10px;
	
}
.scroll h4{
    text-align: center;
    text-transform: uppercase;
    color: #ffb400;
	position: absolute;width:100%; left: 47.5%;top:115%; font-size:20px;
	display:flex;
}
.scroll img{
    position: absolute;width:1%; left: 50%;top:112%; 
	padding-bottom: 0.5rem;
    -webkit-animation: pulse 3s .3s ease both infinite;
	

	 text-align: center;
    text-transform: uppercase;
    color: #ffb400;

}

main{
	width: 100%;min-height: 300px; }


.menu2{
	text-transform: uppercase;
	padding-top:20px;
	
	
	
}
.menu2 ul{
	list-style: none;
	
	font-size:20px;
	display:flex;
	
	
	
}
.menu2 ul li{
	color:#FAF5F5;
	
	padding:30px 30px;
	
	
}

	

.menu2 ul li a{
	text-decoration:none;
	text-transform: uppercase; border-radius:15px; color:red;

		
}
.menu2 ul li a:hover{
	padding:20px 20px;
	background-color:red;color:white;
}




.gach-chan{
	
	text-decoration:none;
}

.font-chu{
	font-size:11px;
}
.box-1{
	width: 50%;padding: 20px;
	
}
.vien{
	border: 1px solid #E2DADA; padding: 15px; 
	margin-top: 30px; padding-top: 30px; 
	display:flex; background-color:#E2DADA;
	
}
.vien ul li {
	list-style: none;
		padding:10px 0px;
	font-size:19px;
	text-decoration:none;
}
.vien ul li a{
	text-decoration:none;
}
.vien p a{
	text-decoration:none;
	color:#3D3C3C;
	
}
.chu-vang{
	color:#EFB01D
}
.btn-an{
	font-size:20px;
	
	text-transform: uppercase;padding-top:20px;
	 
	
}
.btn-an h4 a{
	text-decoration:none;
	border-radius:15px; color:#F3D503;
}
.btn-an h4 a:hover{
	padding:20px 20px;
	background-color:red;color:white;

}

.can-giua{
	text-align: center;
}

.ben-trai{
	 position:relative;
	font-size:15px;
	left: -23%;top:90%;
	padding-left: 0px;
	
	
}

.car_img{
    
    
    height: auto;
    position:relative;
    bottom: 0;
    right: 0;
    opacity: 1;
    max-width: 400px;
	width:100%; left: 79.8%;top:90%;
}
.tintuc{
	font-size:80px;
	position:absolute;
	width:100%; left: 42%;top:15%;
	color:aliceblue;
}
